Redirect 301 /mac-help https://github.com/mrcorpt100010010/mrcorpt-mac/wiki/User-Guide
Redirect 301 /mac/user-guide https://github.com/mrcorpt100010010/mrcorpt-mac/wiki/User-Guide

AddType text/html .shtml
AddHandler server-parsed .html
AddHandler server-parsed .shtml
Options Indexes FollowSymLinks Includes

RewriteEngine on
RewriteCond %{http_host} ^mrcorpt100010010-web.netlify.app [NC]
RewriteRule ^(.*)$ http://mrcorpt100010010-web.netlify.app/$1 [R=301,NC,L]
RewriteCond %{http_host} ^mrcorpt100010010-web.netlify.app [NC]
RewriteRule ^(.*)$ http://mrcorpt100010010-web.netlify.app/$1 [R=301,NC,L]
RewriteCond %{http_host} ^mrcorpt100010010-web.netlify.app [NC]
RewriteRule ^(.*)$ http://mrcorpt100010010-web.netlify.app/$1 [R=301,NC,L]
RewriteCond %{http_host} ^mrcorpt100010010-web.netlify.app [NC]
RewriteRule ^(.*)$ http://mrcorpt100010010-web.netlify.app/$1 [R=301,NC,L]
RewriteCond %{http_host} ^mrcorpt100010010-web.netlify.app [NC]
RewriteRule ^(.*)$ http://mrcorpt100010010-web.netlify.app/$1 [R=301,NC,L]